<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>transaksi</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <div class="col-md-6">
    saldo anda : <div id="saldo"></div>
    <table border="1" class="table table-dark table-striped mt-3">
      <tr>
        <th>Id</th>
        <th>Nama Barang</th>
        <th>Jumlah</th>
        <th>total harga</th>
        <th>payment</th>
        <th>action</th>
      </tr>
      <% for(let a of transaksi){ %>
      <tr>
        <td>
          <%= a.id_transaksi %>
        </td>
        <td>
          <%= a.Nama_barang %>
        </td>
        <td>
          <%= a.jumlah %>
        </td>
        <td>
          <% if(a.total_harga>0) { %>
          <%= uang(a.total_harga) %>
          <% }else{%>
          <%= uang(0) %>
          <% } %>
        </td>
        <td>
          <button onclick="bayar('<%= a.total_harga %>')">bayar</button>
        </td>
        <td>
          <button type="button" class="badge bg-danger" data-bs-toggle="modal" onclick="cancel('<%= a.new_stock %>', '<%= a.jumlah %>', '<%= a.Id_barang %>', '<%= a.id_transaksi %>' )" data-bs-target="#modalCancel">
            cancel
          </button>
        </td>
      </tr>
      <% } %>
      <% for(let a of total){ %>
      <tr>
        <td> Total </td>
        <td colspan="3">
          <div style="text-align: right;">
            <% if(a.total>0) { %>
            <%= uang(a.total) %>
            <% }else{%>
            <%= uang(0) %>
            <% } %>
          </div>
        </td>
        <td colspan="2">
          <button onclick="ts('<%= a.total %>')">bayar semua</button>
        </td>
      </tr>
      <% } %>
    </table>
  </div>
  <%- include('modal.ejs') %>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <script src="/script.js"></script>
</body>

</html>